.ah {
    margin-right: 950px;
  }
.head{
    display: flex;
    border-bottom: 2px solid #f3f3f3;
    justify-content:flex-end;
    padding: 20px;
   flex-direction: row;
    background-color:whitesmoke;
    gap: 30px;
}
.li{
    text-decoration: none;
    font-size: larger;
   color: black;
   font-family: 'Times New Roman', Times, serif;
}
.f{
    margin-top: 3px;
}
.ph{
    margin-top: 3px;
}
