.c1{
    display:flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    border:3px solid azure;
    justify-content: space-around;
    font-size: larger;
    align-items: center;
    background-color:whitesmoke;
    max-width:710px ;
    margin-left:350px ;
    margin-top: 100px;
}
.c2{
    font-size: medium;
}
.c3{
    width: 300px;
    min-height: 30px;
    border-radius: 2px;
    border-right-color: rgb(25, 0, 255);
    text-align: center;
}
.ubn{
    width: 200px;
    font-size: large;
}
.ubn:hover{
background-color: aqua;
}